#mainbox {
    text-align: center;
    margin: 20px;
}

#username-container {
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #220202;
    background-color: #b30e6e;
    border-radius: 5px;
    display: inline-block;
}


#chat-container {
    width: 30%;
    margin: 0 auto;
    margin-top: 5%;
    border: 1px solid #220202;
    padding: 10px;
    background-color: #b30e6e;
    border-radius: 5px;
}

#messages {
    height: 300px;
    overflow-y: auto;
    border: 2px solid #7a0449;
    margin-bottom: 10px;
    padding: 10px;
    text-align: left;
    background: rgb(180,34,88);
    background: linear-gradient(104deg, rgba(180,34,88,1) 0%, rgba(207,25,99,1) 35%, rgba(255,0,112,1) 68%, rgba(205,133,44,1) 98%);
}

/* Ensure the height of images does not exceed 200 pixels */
#messages img {
    max-height: 200px;
    width: auto; /* Maintain aspect ratio */
}

#chat-input {
    width: 70%;
    padding: 10px;
    margin: 10px;
    background: rgb(207, 89, 144);
}

#title {
    text-align: center;
    font-size: 72px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background: rgb(180,34,88);
}

body {
    font-family: 'Space Mono', 'Courier New', Courier, monospace;
    height: 100%;
    margin: 0;
    background: rgb(180,34,88);
    background: linear-gradient(104deg, rgba(180,34,88,1) 0%, rgba(207,25,99,1) 35%, rgba(255,0,112,1) 68%, rgba(205,133,44,1) 98%);
    background-attachment: fixed;
    background-size: cover;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.message img {
    max-height: 200px;
    width: auto;
}

.message-content {
    display: flex;
    align-items: flex-start;
}
